body {
    font-family: sans-serif;
    background: powderblue;
    color: darkslateblue;
}

h1 {
    text-decoration: underline;
}

img{
    max-width:450px;
    max-height:450px;
}

.list {
    color: darkslateblue;
}