body {
    font-family: sans-serif;
    background: powderblue;
    color: darkslateblue;
}

.stuff {
    list-style-type: fish;
    color: darkslateblue;
}

@counter-style fish {
    system: cyclic;
    symbols: "\1F41F" "\1F420" "\1F421" "\1F988" "\1F419" "\1F42C";
    suffix: " ";
}